<h2><div class="panel-heading">Math Tutors</div></h2>

  <!-- Table -->
  <table class="table">
  <thead><tr>
  <th>First Name</th>
  <th>Last Name</th>
  <th>Tutor Rating</th>
  <th>Location</th>
  <th>Email</th>
  <th>Subject</th>
  </tr></thead>
   <tbody>
   <tr data-ng-repeat="tutor in tutors | filter: {subject: 'Math'}">
   <td><a href="/tutorProfile">{{tutor.fname}}</a></td>
      <td>{{tutor.lname}}</td>
      <td>{{tutor.rating}}</td>
      <td>{{tutor.location}}</td>
      <td>{{tutor.email}}</td>
      <td>{{tutor.subject}}</td>
       </tr>
      </tbody>
<!--
    <li ng-repeat="x in gData">

</li>
-->
  </table>

