<!--
<body>
<div class="main-sub">Select a subject:</div>
<a href data-ng-click="find()">Math</a>
<a href="subjects.html">Chemistry</a>
<a href="subjects.html">Physics</a>
<a href="subjects.html">History</a>
<a href="subjects.html">Economics</a>
</body>
-->

<div class="list-group">
  <li class="list-group-item">
    <h2>Select a Subject</h2>
  <a href="/subjects/Math" class="list-group-item">Math</a>
  <a href="/subjects/Chem" class="list-group-item">Chemistry</a>
  <a href="/subjects/Physics" class="list-group-item">Physics</a>
    </li>
</div>


<!--<div ng-repeat="tutor in tutors | filter: {subject: 'English'}">{{tutor}}</div>-->
<!--  var link = document.querySelectorAll("#mycoollinkthathasitsownID").on("click", function() { var newTutors = $http.get(URL).filter(function(t){ return t.subject=="newSubject";});});-->
