extends ../layout

block content
    h1.
         #{title}
    ul
        - each tutor, i in tutors
            li
                = {{tutors.fname}}
                = {{tutors.lname}}
                = {{tutors.rating}}
                = {{tutors.location}}
                = {{tutors._id}}
                form(action='/tutors/#{tutors._id}/edit',method='post',enctype='application/x-www-form-urlencoded')
                    input(type='hidden',value='DELETE',name='_method')
                    button(type='submit').
                        Delete
                p 
                    a(href='/tutors/#{tutors._id}/edit') Edit
                p
                    a(href='/tutors/#{tutors._id}') Show