<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>{{tutors.fname}} {{tutors.lname}}</title>
	<link rel="stylesheet" type="text/css" href="./stylesheets/global.css" />
</head>

<body>
	<div id="content" class="clearfix">
		<section id="left">
			<div id="userStats" class="clearfix">
				<div class="pic">
					<a href="#"><img src="img/user_avatar.jpg" width="150" height="150" /></a>
				</div>

				<div class="data">
					<h1>{{tutors.location}}</h1>
					<h3>{{tutors.location}}</h3>
						<a href="http://gowalla.com/users/JakeRocheleau" rel="me" target="_blank"><img src="img/gowalla.png" /></a>
					</div>
					<div class="sep"></div>
				</div>

			<h1>About Me:</h1>
			<p>{{tutors.about}}</p>
		</section>

		<section id="right">
			<div class="gcontent">
		</section>
	</div>
</body>
</html>
